Repository ReactionMechanismGenerator/ARC, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, tests, Module: Conformers, Module: Mapping, Module: Converter, Module: Job, Module: Local, Module: Main, Module: Parser, Module: Plotter, Module: Processor, Module: Reaction, Module: rmgdb, Module: Scheduler, Module: Species, Module: SSH, Module: trsh, Module: Utils, Module docs, Module Functional

added sort_atoms_in_decending_label_order function
  arc/common.py
  arc/common_test.py
Labels: none

Added is_xyz_mol_match function
  arc/common.py
Labels: none

Added backend flip in mapping
  arc/reaction.py
Labels: Module: Reaction

Test: is_xyz_mol_match
  arc/common_test.py
Labels: none

Test: sort_atoms_in_decending_label_order
  arc/common_test.py
Labels: none

Moved tests from wip, and inceased determinism
  arc/job/adapters/ts/heuristics_test.py
  arc/reaction_test.py
Labels: none

minor: removed a line
  arc/common_test.py
Labels: none

Added test to scissors test
  arc/species/species_test.py
Labels: none

Added driver to mapping module
  arc/mapping/driver.py
  arc/mapping/driver_test.py
Labels: Module: Mapping

removed mapping_test
  arc/species/mapping_test.py
Labels: none

Moved check_atom_map to the mapping module
  arc/mapping/engine.py
  arc/reaction_test.py
Labels: Module: Mapping

Added engine to mapping module
  arc/mapping/engine.py
  arc/mapping/engine_test.py
Labels: Module: Mapping

!f reaction
  arc/reaction.py
Labels: Module: Reaction

Added a test that checks the number of freqs in torchani
  arc/job/adapters/torch_ani_test.py
Labels: none

returns the correct number of freqs in torchani
  arc/job/adapters/torch_ani.py
Labels: none

Removed: extracting NaN's from freqs list
  arc/job/adapters/scripts/tani_script.py
Labels: none

torchani returns 3N freqs
  arc/job/adapters/torch_ani_test.py
Labels: none

Simplify `cluster_soft` definition in ssh submit_job()
  arc/job/ssh.py
Labels: Module: SSH

Call ssh submit_job() recursively if the max num of job limit reached
  arc/job/ssh.py
Labels: Module: SSH

Call local submit_job() recursively if the max num of job limit reached
  arc/job/local.py
Labels: Module: Local

Added channel for python in xtb
  devtools/install_xtb.sh
Labels: none

Added micromamba check
  devtools/install_autotst.sh
  devtools/install_gcn_cpu.sh
  devtools/install_kinbot.sh
  devtools/install_ob.sh
  devtools/install_sella.sh
  devtools/install_torchani.sh
  devtools/install_xtb.sh
Labels: none

Changed numpy channel
  devtools/tani.yml
Labels: none

Make parse_1d_scan_coords() more robust
  arc/parser.py
Labels: Module: Parser

Tests: An edge case of parse_1d_scan_coords()
  arc/parser_test.py
  arc/testing/rotor_scans/TS_scan.out
Labels: none

Fix Reaction.get_element_mass()
  arc/reaction.py
Labels: Module: Reaction

Tests: Duplicate reactants in Reaction.get_element_mass()
  arc/reaction_test.py
Labels: none

Tests: Duplicate reactants in Reaction.get_element_mass()
  arc/reaction_test.py
Labels: none

debug messages
  arc/reaction.py
  arc/scheduler.py
Labels: Module: Reaction, Module: Scheduler

Fix Reaction.get_element_mass()
  arc/reaction.py
Labels: Module: Reaction

Skip normal_mode_displacement in ts checks
  arc/checks/ts.py
Labels: none

Try except check_normal_mode_displacement
  arc/checks/ts.py
Labels: none

Make get_rmg_reactions_from_arc_reaction() in mapping more robust
  arc/species/mapping.py
Labels: none

Don't trsh conformer isomorphism if no XYZ is given
  arc/scheduler.py
Labels: Module: Scheduler

added shabang to ob_script
  arc/job/adapters/scripts/ob_script.py
Labels: none

Made sure that set_levels_of_theory return all leves as Level
  arc/main.py
Labels: Module: Main

fixed: _add_nth_atom_to_coords returned type np.float64 instead of float
  arc/species/zmat.py
Labels: none

treat args from adapter.arg in torchani
  arc/job/adapters/torch_ani.py
Labels: none

Typo: torchani script
  arc/job/adapters/scripts/tani_script.py
Labels: none

Test: test_modify_coords
  arc/species/converter_test.py
Labels: none

.github/labeler.yml:

repo:
  - ./*
  
examples:
  - examples/**/*

tests:
  - arc/**/*Tests.py

'Module: Conformers':
  - arc/species/conformers.py

'Module: Mapping':
  - arc/mapping/*

'Module: Converter':
  - arc/species/converter.py

'Module: Job':
  - arc/job/job.py

'Module: Local':
  - arc/job/local.py

'Module: Main':
  - arc/main.py

'Module: Parser':
  - arc/parser.py

'Module: Plotter':
  - arc/plotter.py

'Module: Processor':
  - arc/processor.py

'Module: Reaction':
  - arc/reaction.py

'Module: rmgdb':
  - arc/rmgdb.py

'Module: Scheduler':
  - arc/scheduler.py

'Module: Species':
  - arc/species/species.py

'Module: SSH':
  - arc/job/ssh.py

'Module: trsh':
  - arc/job/trsh.py

'Module: Utils':
  - arc/job/utils/**/*

'Module docs':
  - arc/docs/**/*

'Module Functional':
  - functional/*
