Repository ReactionMechanismGenerator/ARC, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, examples, tests, Module: Conformers, Module: Mapping, Module: Converter, Module: Job, Module: Local, Module: Main, Module: Parser, Module: Plotter, Module: Processor, Module: Reaction, Module: rmgdb, Module: Scheduler, Module: Species, Module: SSH, Module: trsh, Module: Utils, Module docs, Module Functional

fix: get_center_of_mass return np.float64
  arc/species/converter.py
Labels: Module: Converter

Made sure that the scans job is ran without optimization
  arc/scheduler.py
Labels: Module: Scheduler

Fixed label of 1d plots
  arc/plotter.py
Labels: Module: Plotter

Make sure parse_xyz_from_file return a dict.
  arc/parser.py
Labels: Module: Parser

added opt_xyz to parser
  arc/parser.py
Labels: Module: Parser

Test: get_center_of_mass returns type float
  arc/species/converter_test.py
Labels: none

added directed scans to job types in tani
  arc/job/adapters/scripts/tani_script.py
Labels: none

Made sure that args are updated with the LOT args
  arc/scheduler.py
Labels: Module: Scheduler

Test: process_level_of_theory
  arc/main_test.py
Labels: none

debug
  arc/scheduler.py
Labels: Module: Scheduler

debug
  arc/scheduler.py
Labels: Module: Scheduler

Modified torchani env: uses fixed pytorch version
  devtools/tani.yml
Labels: none

Added the `include_in_thermo_lib` Species attribute
  arc/species/species.py
Labels: Module: Species

Only add a species to the thermo library if requested
  arc/plotter.py
Labels: Module: Plotter

.github/labeler.yml:

repo:
  - ./*
  
examples:
  - examples/**/*

tests:
  - arc/**/*Tests.py

'Module: Conformers':
  - arc/species/conformers.py

'Module: Mapping':
  - arc/mapping/*

'Module: Converter':
  - arc/species/converter.py

'Module: Job':
  - arc/job/job.py

'Module: Local':
  - arc/job/local.py

'Module: Main':
  - arc/main.py

'Module: Parser':
  - arc/parser.py

'Module: Plotter':
  - arc/plotter.py

'Module: Processor':
  - arc/processor.py

'Module: Reaction':
  - arc/reaction.py

'Module: rmgdb':
  - arc/rmgdb.py

'Module: Scheduler':
  - arc/scheduler.py

'Module: Species':
  - arc/species/species.py

'Module: SSH':
  - arc/job/ssh.py

'Module: trsh':
  - arc/job/trsh.py

'Module: Utils':
  - arc/job/utils/**/*

'Module docs':
  - arc/docs/**/*

'Module Functional':
  - functional/*
