Repository ReactionMechanismGenerator/ARC, pull requests merged in 2019-03, with the labels that each got.

#75 Minor: Fixed typo `adddress` in servers dict
  arc/job/ssh.py
  arc/settings.py
Labels: Module: SSH

#77 Troubleshoot conformer jobs if they all fail
  arc/job/job.py
  arc/processor.py
  arc/scheduler.py
  arc/species/species.py
Labels: Module: Scheduler, Topic: trsh

#78 Changed rotor inconsistency_ab
  arc/scheduler.py
  arc/settings.py
Labels: Module: Scheduler, Topic: Rotors

#79 Don't crush ARC if couldn't troubleshoot a job
  arc/scheduler.py
  arc/species/species.py
Labels: Module: Scheduler

#80 Make xyz to 2D more robust (catch errors)
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/xyz_to_2d.py
Labels: Module: Converter, Type: Testing

#84 Check isomorphism for conformers
  arc/job/job.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/settings.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/testing/methylamine_conformer_1.out
Labels: Module: Scheduler

#81 Improve submit files
  arc/job/job.py
  arc/job/submit.py
  arc/main.py
  arc/mainTest.py
  arc/scheduler.py
  arc/settings.py
Labels: Module: Job, Type: Feature

#85 Troubleshoot rotor scans
  arc/job/inputs.py
  arc/job/job.py
  arc/scheduler.py
Labels: Type: trsh

#87 Generate resonance structures before checking molecule isomorphism
  arc/job/inputs.py
  arc/job/submit.py
  arc/main.py
  arc/plotter.py
  arc/scheduler.py
  arc/species/converter.py
  arc/species/species.py
Labels: Module: Converter, Type: Bug

#88 Standardize xyz
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
Labels: Module: Converter, Type: UX

#91 Allow nonisomorphic 2d
  arc/main.py
  arc/mainTest.py
  arc/scheduler.py
  arc/species/converter.py
  arc/species/species.py
Labels: Topic: Conformers

#95 Don't use applyAtomEnergyCorrections for kinetics
  arc/processor.py
Labels: Topic: Arkane, Topic: Kinetics

#96 Fix to xyz/2D loading and atom reordering in ARCSpecies
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Species, Type: Bug

#99 Preserve multiplicity throughout Species representations
  arc/processor.py
  arc/rmgdb.py
  arc/scheduler.py
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Converter, Module: Species, Type: Error

#97 Save all log files
  arc/main.py
Labels: Topic: Restart, Type: Feature, Type: UX

#102 Run and save molecular orbitals
  arc/job/job.py
  arc/main.py
  arc/mainTest.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/settings.py
  arc/species/converter.py
  arc/species/species.py
Labels: Type: Feature

#104 Allow ARCSpecies to be initialized with a conformer list file
  arc/job/job.py
  arc/job/submit.py
  arc/main.py
  arc/mainTest.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/species/converter.py
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Species, Topic: Conformers, Type: Code Organization, Type: Feature, Type: UX
