Repository ReactionMechanismGenerator/ARC, pull requests merged in 2019-08, with the labels that each got.

#158 Separated freze and inc_res in rotor troubleshooting
  arc/scheduler.py
  arc/species/species.py
Labels: Module: Scheduler, Topic: Rotors, Type: Bug, Type: trsh

#157 Allow dont_gen_confs as an attribute of ARC
  arc/main.py
  arc/scheduler.py
  docs/source/advanced.rst
Labels: Module: Conformers

#159 Remove rotor info related to re-run after conformer correction
  arc/scheduler.py
Labels: Module: Scheduler, Topic: Rotors, Type: Bug

#162 Docs: Added `Writing an ARC input file using the API` to advanced
  docs/source/advanced.rst
  docs/source/conf.py
  docs/source/contribute.rst
  docs/source/examples.rst
  docs/source/links.txt
  docs/source/output.rst
  docs/source/release.rst
  docs/source/running.rst
Labels: Type: Documentation

#160 Check final_xyz isomorphism after opt and composite
  arc/scheduler.py
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Scheduler, Module: Species, Type: Feature

#163 Minor documentation modifications
  docs/source/advanced.rst
  docs/source/cite.rst
  docs/source/index.rst
  docs/source/links.txt
Labels: Type: Documentation

#165 BugFix: Correctly treat TSGs in Scheduler run_ts_conformer_jobs
  arc/job/job.py
  arc/scheduler.py
Labels: Module: Scheduler, Type: Bug

#168 Delete Gaussian checkfiles before calling ARC's process
  arc/main.py
  environment.yml
Labels: Type: Code Organization

#170 BugFix: Create geometry directory before copying files
  arc/processor.py
Labels: Module: Processor, Type: Bug

#169 Improved ARC conformer troubleshoot
  arc/scheduler.py
  arc/species/species.py
Labels: Module: Scheduler, Type: Feature, Type: trsh

#174 BugFix: Report `conformers` as True in output for single conformer
  arc/scheduler.py
Labels: Module: Scheduler, Type: Bug

#176 Added a try except block to resonance generation in isomorphism check
  arc/species/converter.py
Labels: Module: Converter
