Repository ReactionMechanismGenerator/ARC, pull requests merged in 2019-11, with the labels that each got.

#237 BugFix: Don't generate resonance structures for charges species via RMG
  arc/species/species.py
  arc/species/speciesTest.py
  ipython/Tools/conformers.ipynb
Labels: Module: Species, Type: Bug

#242 Parse only the last coordinates when given a trajectory
  arc/parser.py
  arc/parserTest.py
  arc/testing/xyz/optim_traj_terachem.xyz
Labels: Module: Parser

#244 BugFix: Corrected the VDZ molpro trsh input
  arc/job/job.py
  arc/job/trsh.py
  arc/job/trshTest.py
  arc/testing/trsh/gaussian/atomic_number_out_of_range.out
  arc/testing/trsh/molpro/unrecognized_basis_set.out
Labels: Module: trsh, Type: Bug

#232 Don't run torsion scans if the dihedral has a 180 degrees angle at one of its sides
  arc/scheduler.py
  arc/schedulerTest.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/species.py
  arc/species/vectors.py
  arc/species/vectorsTest.py
Labels: Topic: Rotors, Type: Error

#245 Use Open Babel as a conformer generation fall back method
  arc/plotter.py
  arc/species/conformers.py
  arc/species/converter.py
Labels: Module: Conformers

#246 Updated the coverage controls (.coveragerc)
  .coveragerc
Labels: Type: Testing

#249 Fix broken link to arc.main
  docs/source/running.rst
Labels: Type: Bug, Type: Documentation

#250 Allow max job time in hours as a float to include minutes and seconds
  arc/job/job.py
  arc/job/jobTest.py
  arc/main.py
  arc/scheduler.py
Labels: Module: Job, Type: Feature

#255 Updated Arkane logs imports
  arc/common.py
  arc/parser.py
Labels: Topic: Arkane

#257 Update Arkane ess imports
  arc/common.py
  arc/main.py
  arc/parser.py
  arc/scheduler.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  docs/source/advanced.rst
Labels: Topic: Arkane
