Repository ReactionMechanismGenerator/ARC, pull requests merged in 2019-10, with the labels that each got.

#211 Decode stdout when sending a local command
  arc/job/local.py
  arc/job/localTest.py
Labels: Module: Local

#214 Updated the restart section in Scheduler
  arc/common.py
  arc/scheduler.py
  arc/species/species.py
  docs/source/installation.rst
Labels: Module: Scheduler, Topic: Restart

#216 Sort bde report
  arc/common.py
  arc/plotter.py
  arc/plotterTest.py
Labels: Module: Plotter, Type: UX

#215 Select the lowest conformers from the pool of new conformers
  arc/plotter.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/converter.py
  arc/species/speciesTest.py
Labels: Module: Conformers, Type: Bug

#219 Docs: Minor typo fix in advanced features
  docs/source/advanced.rst
Labels: Type: Documentation

#220 BugFix: read model_chemistry from restart
  arc/main.py
Labels: Module: Main, Type: Bug

#221 BugFix: xyz related fix
  arc/scheduler.py
  arc/species/species.py
Labels: Topic: Restart, Type: Bug

#222 Improved chirality treatment in conformer generation
  .travis.yml
  arc/common.py
  arc/commonTest.py
  arc/exceptions.py
  arc/mainTest.py
  arc/plotter.py
  arc/reaction.py
  arc/reactionTest.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/species/vectors.py
  arc/species/vectorsTest.py
  docs/source/advanced.rst
Labels: Module: Conformers, Type: Feature

#225 BugFix: Preserve atom order in Species.mol_list
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Converter, Module: Species, Type: Bug

#227 Included unit test for get_vector_length
  arc/species/vectorsTest.py
Labels: Type: Testing

#228 Assign Species.e0 when reading Conformer.E0 from the Arkane YAML file
  arc/species/species.py
Labels: Module: Species, Topic: Arkane

#229 Feature: Try server command again before crash.
  arc/job/local.py
Labels: Topic: Server, Type: trsh

#233 Tests: Adapted conformersTest to a new RDKit release
  arc/species/conformersTest.py
Labels: Type: Testing

#231 BugFix: Consider conformers for radicals in a BDE calculation
  arc/scheduler.py
  arc/species/species.py
  arc/species/speciesTest.py
  examples/bde/input.yml
Labels: Module: Scheduler, Module: Species, Type: Bug

#236 BugFix: Spawn opt if conf isn't isomorphic with the 2D representation and if allow_nonisomorphic_2d was set to True
  arc/scheduler.py
Labels: Module: Scheduler, Type: Bug
