Repository ReactionMechanismGenerator/ARC, pull requests merged in 2020-05, with the labels that each got.

#387 BugFix: Correctly import classes and functions from arkane & submit.py
  arc/job/submit.py
  arc/main.py
Labels: Type: Bug

#389 Bug fixes related to rotor scans
  arc/job/trsh.py
  arc/scheduler.py
  arc/statmech/arkane.py
Labels: Type: Bug

#392 Ignore charge error when loading from adjacency list
  arc/species/species.py
Labels: Module: Species, Topic: 2D representation, Type: Bug

#355 A large rewriting to the SSHClient
  arc/job/job.py
  arc/job/ssh.py
  arc/job/submit.py
  arc/job/trsh.py
  arc/main.py
  arc/scheduler.py
  arc/settings.py
Labels: Do not merge, Module: SSH, Topic: Server, Type: Code Organization, Type: Feature

#385 Feature: Allow user specifying two- or three- parameter Arrhenius fit
  arc/main.py
  arc/mainTest.py
  arc/processor.py
  arc/statmech/arkane.py
  arc/statmech/factory.py
  docs/source/advanced.rst
Labels: Module: Main, Module: Processor, Topic: Arkane, Topic: Kinetics, Type: Feature
