Repository ReactionMechanismGenerator/ARC, pull requests merged in 2020-06, with the labels that each got.

#401 Feature: Enhance conformer comparison with RMSD score
  arc/species/converter.py
  arc/species/converterTest.py
Labels: Module: Conformers, Module: Converter

#320 Enable rotors in transition states
  arc/job/trsh.py
  arc/parser.py
  arc/parserTest.py
  arc/plotter.py
  arc/reaction.py
  arc/scheduler.py
  arc/settings.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/species/vectors.py
  arc/species/vectorsTest.py
  arc/species/zmat.py
  arc/species/zmatTest.py
Labels: Topic: Kinetics, Topic: Rotors, Type: Feature

#403 BugFix: When running composite, sp_level is None
  arc/scheduler.py
Labels: Module: Scheduler, Type: Bug
