Repository ReactionMechanismGenerator/ARC, pull requests merged in 2020-04, with the labels that each got.

#366 Modified delete.py to accept command line arguments
  ARC.py
  arc/job/local.py
  arc/job/ssh.py
  arc/utils/delete.py
  docs/source/advanced.rst
Labels: Type: Feature, Type: UX

#368 Parse geometry from a Gaussian log file of a large molecule
  arc/parser.py
  arc/parserTest.py
  arc/testing/xyz/Gaussian_large.log
Labels: Module: Parser

#373 Improved troubleshoot methods for issues related to Orca job memory and cpu allocations
  arc/common.py
  arc/commonTest.py
  arc/job/job.py
  arc/job/jobTest.py
  arc/job/trsh.py
  arc/job/trshTest.py
  arc/settings.py
  arc/testing/trsh/orca/orca_GTOInt_error.log
  arc/testing/trsh/orca/orca_mdci_error_3.log
Labels: Module: Job, Module: trsh, Topic: ESS, Type: trsh

#374 BugFix: Make sure Job.total_job_memory_gb is an int before dumping into the restart dict
  arc/job/job.py
Labels: Module: Job, Type: Bug

#375 Update maxstep settings for Gaussian opt jobs
  arc/job/job.py
Labels: Module: Job

#370 Check atom balance
  arc/reaction.py
  arc/reactionTest.py
  arc/scheduler.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/statmech/arkane.py
Labels: Module: Reaction, Module: Species, Type: Feature

#378 Replaced the servers dict user name with $USER in queue status commands
  arc/job/local.py
  arc/job/ssh.py
Labels: Module: Local, Module: SSH, Type: Feature, Type: UX

#379 BugFix: Don't troubleshoot a scan job using CBS-QB3
  arc/job/trsh.py
Labels: Module: trsh, Type: Bug

#367 ess_factory replaces determine_qm_software
  arc/common.py
  arc/parser.py
  arc/restartTest.py
Labels: Module: Parser, Topic: Arkane

#380 BugFix: use memory and job time settings from default job settings dict
  arc/job/job.py
  arc/main.py
  arc/scheduler.py
  docs/source/installation.rst
Labels: Module: Main, Module: Scheduler, Type: Bug

#383 BugFix: Pass if a species already exists in a thermo library
  arc/plotter.py
Labels: Module: Plotter, Topic: RMG, Topic: Thermo, Type: Bug

#384 Retrieve a species from Arkane species_dict if already exists
  arc/statmech/arkane.py
Labels: Module: Processor, Topic: Arkane, Type: Bug

#382 BugFix: Check if_str_float before converting a string to float
  arc/job/trsh.py
  arc/job/trshTest.py
  arc/testing/trsh/orca/orca_successful_sp_scf.log
Labels: Module: trsh, Type: Bug

#386 BugFix: Don't write to output dict if it doesn't have the species entry
  arc/scheduler.py
Labels: Topic: Restart, Type: Bug

#377 BugFix: cannot save image when using notebook
  arc/plotter.py
Labels: Module: Plotter, Type: Bug
