Repository ReactionMechanismGenerator/ARC, pull requests merged in 2020-03, with the labels that each got.

#334 BugFix: Limit the default num of confs to generate
  arc/main.py
  arc/scheduler.py
  arc/species/conformers.py
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Main, Type: Bug

#333 Return a status dictionary from ARC.execute
  arc/main.py
Labels: Module: Main, Type: Feature

#338 BugFix: Don't re-run a scan job after changing the conformer
  arc/job/trsh.py
  arc/scheduler.py
Labels: Topic: Rotors, Type: Bug, Type: trsh

#343 Check for empty Species.mol
  arc/scheduler.py
  arc/species/species.py
Labels: Module: Species, Type: Bug

#339 If a restart job has the same sp and opt, set the sp path from geometry
  arc/scheduler.py
Labels: Module: Scheduler, Topic: Restart, Type: Bug

#349 Add job submission script for Orca on Pharos
  arc/job/submit.py
Labels: Type: Feature

#304 Add option for running all optimizations as fine
  arc/main.py
  arc/scheduler.py
  docs/source/advanced.rst
Labels: Module: Job, Module: Main, Type: Feature

#332 Use OpenBabel force field to optimize the geoms if RDkit fails
  arc/common.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/species.py
Labels: Module: Conformers, Type: Bug

#359 Pass on RMG AtomTypeError in Species
  arc/processor.py
  arc/reaction.py
  arc/species/species.py
Labels: Module: Species, Type: Error

#360 Pass on InvalidAdjacencyListErrors when saving libraries
  arc/plotter.py
Labels: Topic: RMG, Type: Bug

#361 Keep the Arkane plots
  arc/scheduler.py
  arc/statmech/arkane.py
Labels: Module: Processor, Topic: Arkane, Type: Feature

#362 Add more specific error message when over requesting server resources
  arc/job/ssh.py
Labels: Module: SSH, Topic: Server
