Repository ReactionMechanismGenerator/ARC, pull requests merged in 2020-01, with the labels that each got.

#251 Add orca to arc
  arc/common.py
  arc/commonTest.py
  arc/job/inputs.py
  arc/job/job.py
  arc/job/jobTest.py
  arc/job/submit.py
  arc/job/trsh.py
  arc/job/trshTest.py
  arc/main.py
  arc/mainTest.py
  arc/parser.py
  arc/parserTest.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/settings.py
  arc/testing/orca_example_freq.log
  arc/testing/orca_example_opt.log
  arc/testing/restart/restart(H,H2O2,N2H3,CH3CO2).yml
  arc/testing/trsh/orca/orca_basis_error.log
  arc/testing/trsh/orca/orca_input_error.log
  arc/testing/trsh/orca/orca_mdci_error.log
  arc/testing/trsh/orca/orca_mdci_error_2.log
  arc/testing/trsh/orca/orca_mdci_memory_error.log
  arc/testing/trsh/orca/orca_multiplicity_error.log
  arc/testing/trsh/orca/orca_scf_blow_up_error.log
  arc/testing/trsh/orca/orca_scf_memory_error.log
  arc/testing/trsh/orca/orca_successful_sp.log
  arc/testing/trsh/orca/orca_too_many_cores.log
  arc/testing/trsh/orca/orca_wavefunction_not_converge_error.log
  arc/utils/scale.py
  docs/source/advanced.rst
  docs/source/examples.rst
  docs/source/installation.rst
Labels: Topic: ESS

#258 Internal coordinates
  arc/common.py
  arc/commonTest.py
  arc/exceptions.py
  arc/job/inputs.py
  arc/job/job.py
  arc/mainTest.py
  arc/plotter.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/settings.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/species/vectors.py
  arc/species/vectorsTest.py
  arc/species/zmat.py
  arc/species/zmatTest.py
  environment.yml
  ipython/Tools/Perceive_xyz_(xyz_to_smiles).ipynb
  ipython/Tools/Plot xyz.ipynb
  ipython/Tools/conformers.ipynb
  ipython/Tools/coordinates conversions.ipynb
Labels: Module: Species, Type: Feature

#278 Minor bug fixes
  arc/job/local.py
  arc/processor.py
Labels: Module: Local, Module: Processor, Type: Bug

#280 BugFix: Make sure that np arrays are not saved to a restart file
  arc/species/species.py
Labels: Topic: Restart, Type: Bug

#282 Added issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Labels: Type: UX

#283 BugFix: Make sure Cartesian coordinates are not np arrays
  arc/species/converter.py
  arc/species/converterTest.py
Labels: Module: Converter, Topic: Restart, Type: Bug

#286 BugFix: check whether an atom is in the connectivity dict for zmats
  arc/species/zmat.py
Labels: Type: Bug

#287 Changed min_list to extermum_list
  arc/common.py
  arc/commonTest.py
  arc/plotter.py
  arc/scheduler.py
Labels: Type: Bug

#135 Add TeraChem
  arc/common.py
  arc/commonTest.py
  arc/job/inputs.py
  arc/job/job.py
  arc/job/jobTest.py
  arc/job/ssh.py
  arc/job/submit.py
  arc/job/trsh.py
  arc/main.py
  arc/mainTest.py
  arc/parser.py
  arc/parserTest.py
  arc/plotter.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/settings.py
  arc/species/converter.py
  arc/species/speciesTest.py
  arc/species/zmatTest.py
  arc/testing/composite/SO2OO_CBS-QB3.log
  arc/testing/freq/C2H6_freq_QChem.out
  arc/testing/freq/CH2O_freq_molpro.out
  arc/testing/freq/CH2O_freq_terachem.dat
  arc/testing/freq/NO3_freq_QChem_fails_on_cclib.out
  arc/testing/freq/ethylamine_freq_terachem_output.out
  arc/testing/freq/formaldehyde_freq_terachem_output.out
  arc/testing/sp/formaldehyde_sp_terachem_output.out
  arc/testing/sp/formaldehyde_sp_terachem_results.dat
  arc/testing/sp/mehylamine_CCSD(T).out
  arc/testing/xyz/ethane_minimize_terachem_output.out
  arc/testing/xyz/formaldehyde_coords.xyz
  arc/testing/xyz/scan_optim.xyz
  docs/source/advanced.rst
Labels: Topic: ESS

#275 Process ESS ND rotors
  arc/job/job.py
  arc/job/trsh.py
  arc/parser.py
  arc/plotter.py
  arc/scheduler.py
  arc/species/species.py
Labels: Topic: Rotors

#294 BugFix: Debug message cannot print lowest conf if there are no confs
  arc/species/species.py
Labels: Module: Species, Type: Bug

#293 Make sure that the trshed neg freqs stored are not np arrays
  arc/job/trsh.py
Labels: Topic: Restart, Type: Bug
