Repository ReactionMechanismGenerator/ARC, pull requests merged in 2020-02, with the labels that each got.

#301 Add option for disabling comparisons to RMG-database
  arc/main.py
  arc/processor.py
  docs/source/advanced.rst
Labels: Type: Feature

#302 Use dispersion if given for Gaussian jobs
  arc/job/inputs.py
  arc/job/job.py
Labels: Module: Job, Type: Bug

#309 Added IRC to ARC
  arc/common.py
  arc/commonTest.py
  arc/job/job.py
  arc/main.py
  arc/mainTest.py
  arc/reaction.py
  arc/reactionTest.py
  arc/rmgdb.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/settings.py
  arc/species/converter.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/testing/restart/restart(H,H2O2,N2H3,CH3CO2).yml
Labels: Type: Feature

#308 Add method for converting xyz coordinates from rmgpy conformer objects
  arc/species/converter.py
  arc/species/converterTest.py
Labels: Module: Converter, Topic: Arkane, Type: Feature

#315 BugFix: Set the server memory when troubleshooting a job if missing
  arc/job/trsh.py
Labels: Module: trsh, Type: Error

#323 Compare conformers using dmats
  .gitignore
  arc/main.py
  arc/mainTest.py
  arc/plotter.py
  arc/plotterTest.py
  arc/reaction.py
  arc/scheduler.py
  arc/species/conformers.py
  arc/species/conformersTest.py
  arc/species/converter.py
  arc/species/converterTest.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/species/zmat.py
  arc/species/zmatTest.py
  arc/testing/restart/1_restart_thermo/restart.yml
  arc/testing/restart/2_restart_rate/restart.yml
  ipython/Demo/ARC rxn demo using YAML.ipynb
  ipython/Demo/ARC thermo demo.ipynb
  ipython/Tools/conformers.ipynb
  ipython/Tools/coordinates conversions.ipynb
  ipython/Tools/delete all arc jobs.ipynb
  requirements.txt
Labels: Module: Conformers, Type: Feature

#324 Added a bypass for [CH2] rotor symmetry
  arc/species/conformers.py
  arc/species/conformersTest.py
Labels: Module: Conformers

#326 Minor: Limit the default num of confs to generate
  arc/main.py
  arc/mainTest.py
Labels: Module: Main

#329 Globalize paths in an input file
  ARC.py
  arc/common.py
  arc/commonTest.py
  arc/main.py
  arc/mainTest.py
  arc/settings.py
  arc/species/converter.py
  arc/testing/restart/restart_paths.yml
Labels: Type: Feature, Type: UX
