Repository ReactionMechanismGenerator/ARC, pull requests merged in 2021-02, with the labels that each got.

#442 Migrate CI from Travis to GH Actions
  .github/labeler.yml
  .github/workflows/cont_int.yml
  .github/workflows/gh-pages.yml
  .github/workflows/labeler.yml
  .travis.yml
  Makefile
  arc/scripts/conformers/acpype.py
  arc/species/speciesTest.py
  devtools/install_gcn.sh
  devtools/install_gcn_cpu.sh
  environment.yml
Labels: Priority: Critical, Type: Testing

#445 Solve the GH pages deploy issue
  .github/workflows/cont_int.yml
  .github/workflows/gh-pages.yml
Labels: Type: Documentation

#446 Pass the sp_level to Scheduler in arc/utils/scale.py
  arc/utils/scale.py
Labels: Module: Utils, Type: Bug
