Repository ReactionMechanismGenerator/ARC, pull requests merged in 2022-08, with the labels that each got.

#530 Queue TS guesses
  arc/checks/ts.py
  arc/common.py
  arc/job/adapter.py
  arc/job/adapterTest.py
  arc/job/adapters/common.py
  arc/job/adapters/gaussian.py
  arc/job/adapters/gaussianTest.py
  arc/job/adapters/molpro.py
  arc/job/adapters/orca.py
  arc/job/adapters/psi_4.py
  arc/job/adapters/qchem.py
  arc/job/adapters/terachem.py
  arc/job/adapters/ts/autotst_ts.py
  arc/job/adapters/ts/gcnTest.py
  arc/job/adapters/ts/gcn_ts.py
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/kinbot_ts.py
  arc/job/adapters/ts/scripts/gcn_script.py
  arc/job/trsh.py
  arc/mainTest.py
  arc/scheduler.py
  arc/settings/settings.py
  arc/settings/submit.py
  arc/species/species.py
  devtools/install_gcn_cpu.sh
Labels: Module: Scheduler, Module: Species, Module: trsh

#533 Check IRC properly
  arc/checks/ts.py
  arc/checks/tsTest.py
  arc/job/adapter.py
  arc/reaction.py
  arc/reactionTest.py
  arc/scheduler.py
  arc/settings/settings.py
  arc/species/species.py
  arc/testing/irc/rxn_1_irc_1.out
  arc/testing/irc/rxn_1_irc_2.out
Labels: Module: Scheduler, Topic: Kinetics, Type: Feature, Module: Species, Module: Reaction

#542 Scissors fix
  arc/common.py
  arc/commonTest.py
  arc/species/mapping.py
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Species

#543 Ignore IRC status when deciding whether a species has converged
  arc/job/adapters/ts/heuristicsTest.py
  arc/main.py
  arc/plotter.py
  arc/scheduler.py
Labels: Module: Scheduler, Module: Plotter, Module: Main

#544 Allow one conformer to be True
  arc/scheduler.py
Labels: Module: Scheduler

#528 Added the CFour Job Adapter
  arc/common.py
  arc/job/adapter.py
  arc/job/adapters/cfour.py
  arc/job/adapters/cfourTest.py
  arc/level.py
  arc/levelTest.py
  arc/mainTest.py
  arc/settings/settings.py
  arc/settings/submit.py
  arc/species/converter.py
  arc/species/converterTest.py
  data/ess_methods.yml
Labels: Topic: ESS, Module: Job, Type: Feature, Module: Converter
