Repository ReactionMechanismGenerator/ARC, pull requests merged in 2022-06, with the labels that each got.

#514 BugFix: Pass parameter name correctly in plotter
  arc/plotter.py
Labels: Module: Plotter

#516 Improved directed scans
  arc/common.py
  arc/job/adapter.py
  arc/job/adapterTest.py
  arc/job/adapters/gaussian.py
  arc/job/adapters/molpro.py
  arc/job/adapters/orca.py
  arc/job/adapters/psi_4.py
  arc/job/adapters/qchem.py
  arc/job/adapters/terachem.py
  arc/job/adapters/ts/autotst_ts.py
  arc/job/adapters/ts/gcn_ts.py
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/kinbot_ts.py
  arc/job/factory.py
  arc/main.py
  arc/plotter.py
  arc/scheduler.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/species/zmatTest.py
Labels: Module: Scheduler, Module: Plotter, Module: Species, Module: Main

#515 Some enhancements for identifying TSs
  arc/checks/ts.py
  arc/checks/tsTest.py
  arc/common.py
  arc/job/adapter.py
  arc/job/adapters/molpro.py
  arc/job/adapters/orca.py
  arc/job/adapters/psi_4.py
  arc/job/adapters/qchem.py
  arc/job/adapters/terachem.py
  arc/job/adapters/ts/autotst_ts.py
  arc/job/adapters/ts/gcn_ts.py
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/kinbot_ts.py
  arc/main.py
  arc/plotter.py
  arc/scheduler.py
  arc/schedulerTest.py
  arc/species/species.py
  arc/species/speciesTest.py
  arc/testing/freq/TS_nC3H7-iC3H7.out
  arc/testing/freq/iC3H7.out
  arc/testing/freq/nC3H7.out
  arc/testing/opt/TS_nC3H7-iC3H7.out
  arc/testing/opt/iC3H7.out
  arc/testing/opt/nC3H7.out
Labels: Module: Scheduler, Module: Plotter, Module: Species, Module: Main, Module: SSH

#520 Allowed a reaction object to have more than 3 reactants or products
  arc/reaction.py
Labels: Module: Reaction
