Repository ReactionMechanismGenerator/ARC, pull requests merged in 2022-12, with the labels that each got.

#573 BugFix: Store the scan_path in the restart file
  arc/scheduler.py
  arc/species/conformersTest.py
Labels: Module: Scheduler

#572 Parity plots should be drawn as squares to emphesize the pair values
  arc/plotter.py
Labels: Module: Plotter

#574 Codecov fixup
  .github/workflows/cont_int.yml
  Makefile
  arc/checks/common_test.py
  arc/checks/ts_test.py
  arc/common_test.py
  arc/job/adapter_test.py
  arc/job/adapters/cfour_test.py
  arc/job/adapters/common_test.py
  arc/job/adapters/gaussian_test.py
  arc/job/adapters/molpro_test.py
  arc/job/adapters/orca_test.py
  arc/job/adapters/ts/autotst_test.py
  arc/job/adapters/ts/gcn_test.py
  arc/job/adapters/ts/heuristics_test.py
  arc/job/adapters/ts/kinbot_test.py
  arc/job/adapters/ts/xtbgsm_test.py
  arc/job/adapters/xtb_test.py
  arc/job/local_test.py
  arc/job/ssh_test.py
  arc/job/trsh_test.py
  arc/level_test.py
  arc/main_test.py
  arc/parser_test.py
  arc/plotter_test.py
  arc/processor_test.py
  arc/reaction_test.py
  arc/rmgdb_test.py
  arc/scheduler_test.py
  arc/settings/submit_test.py
  arc/species/conformers_test.py
  arc/species/converter_test.py
  arc/species/mapping_test.py
  arc/species/species_test.py
  arc/species/vectors_test.py
  arc/species/zmat_test.py
  arc/statmech/arkane_test.py
  arc/utils/scale_test.py
  environment.yml
  functional/functional_test.py
Labels: Module Functional

#581 Passing the dict_values object caused the can't pickle issue
  arc/scheduler.py
Labels: Module: Scheduler

#583 BugFix: Opt IRC results using freq level if using a composite method
  arc/scheduler.py
Labels: Module: Scheduler

#558 Don't use other ESS or other levels for troubleshooting
  arc/job/adapter.py
  arc/job/trsh.py
  arc/job/trsh_test.py
  arc/scheduler.py
Labels: Module: Scheduler, Module: trsh
