Repository ReactionMechanismGenerator/ARC, pull requests merged in 2022-05, with the labels that each got.

#478 Add option to display atom map number when calling `show_sticks`
  arc/plotter.py
Labels: Module: Plotter

#508 Fixed issue 506, cyclic scisson
  arc/species/species.py
  arc/species/speciesTest.py
Labels: Module: Species

#507 CI with mamba
  .github/workflows/cont_int.yml
  arc/species/conformersTest.py
  arc/species/speciesTest.py
  arc/species/zmatTest.py
Labels: Type: Environment, Type: Testing

#512 Avoid generating conformers with OpenBable
  arc/scheduler.py
  arc/species/conformers.py
Labels: Module: Scheduler, Module: Conformers
