Repository ReactionMechanismGenerator/ARC, pull requests merged in 2023-05, with the labels that each got.

#650 Make sure that parse_xyz returns a dict xyz
  arc/parser.py
Labels: Module: Parser

#652 Fix env
  arc/settings/settings.py
  arc/utils/wip.py
  devtools/install_xtb.sh
  environment.yml
Labels: Module: Parser, Module: Local

#657 Added an option to specify the TS adapters in the input file
  arc/main.py
  arc/main_test.py
  arc/scheduler.py
Labels: Module: Scheduler, Module: Main

#648 CI Improvement
  .github/workflows/cont_int.yml
  .github/workflows/update-cache.yml
  devtools/install_ob.sh
  devtools/install_sella.sh
  devtools/install_torchani.sh
  devtools/install_xtb.sh
  devtools/ob_environment.yml
  devtools/sella_environment.yml
  devtools/tani_environment.yml
  devtools/xtb_environment.yml
Labels: Module: Local

#654 Call check_scan_job() also if the directed_scan_type is `None`
  arc/scheduler.py
Labels: Module: Scheduler

#663 Read a mol repr from an Arkane YAML file if given
  arc/common.py
  arc/parser.py
  arc/plotter.py
  arc/plotter_test.py
  arc/processor.py
  arc/reaction_test.py
  arc/species/species.py
  arc/species/species_test.py
  arc/testing/yml_testing/HNNO+NH3O=H2NO+NH2NO/H2NO.yml
  arc/testing/yml_testing/HNNO+NH3O=H2NO+NH2NO/HNNO.yml
  arc/testing/yml_testing/HNNO+NH3O=H2NO+NH2NO/NH2NO.yml
  arc/testing/yml_testing/HNNO+NH3O=H2NO+NH2NO/NH3O.yml
Labels: Module: Plotter, Module: Species, Module: Parser, Module: Processor
