Repository ReactionMechanismGenerator/ARC, pull requests merged in 2023-01, with the labels that each got.

#587 Updating devtool installation
  devtools/install_autotst.sh
  devtools/install_gcn_cpu.sh
  devtools/install_sella.sh
  devtools/install_xtb.sh
Labels: Type: Environment

#590 Allow heuristics TS generation for reactions with isomorphic reactants or products
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/heuristics_test.py
  arc/reaction.py
  arc/reaction_test.py
  arc/species/mapping.py
  arc/species/mapping_test.py
Labels: Type: Bug, Module: Reaction, Module: Mapping

#591 Generate H Abstraction TSs for reactions with linear motifs
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/heuristics_test.py
  arc/species/converter.py
  arc/species/converter_test.py
  arc/species/zmat.py
  arc/species/zmat_test.py
Labels: Module: Reaction, Module: Converter

#597 Fix 1D rotor scan file names
  arc/plotter.py
Labels: Module: Plotter
