Repository ReactionMechanismGenerator/ARC, pull requests merged in 2023-03, with the labels that each got.

#605 Call submit_job() recursively if the max num of job limit was reached
  arc/job/local.py
  arc/job/ssh.py
Labels: Module: SSH, Module: Local

#607 Make parse_1d_scan_coords() more robust
  arc/parser.py
  arc/parser_test.py
  arc/testing/rotor_scans/TS_scan.out
Labels: Module: Parser

#609 Fix Reaction.get_element_mass()
  arc/reaction.py
  arc/reaction_test.py
Labels: Module: Reaction

#603 Rename the output file of a recent opt job before post_sp_actions
  arc/scheduler.py
Labels: Module: Scheduler

#611 Don't trsh conformer isomorphism if no XYZ is given
  arc/scheduler.py
Labels: Module: Scheduler

#602 Solve problems in arc's directed scans.
  arc/job/adapters/scripts/ob_script.py
  arc/job/adapters/scripts/tani_script.py
  arc/job/adapters/torch_ani.py
  arc/main.py
  arc/main_test.py
  arc/parser.py
  arc/plotter.py
  arc/scheduler.py
  arc/species/converter.py
  arc/species/converter_test.py
  arc/species/zmat.py
Labels: Module: Scheduler, Module: Plotter, Module: Main, Module: Parser, Module: Converter

#612 Only add a species to the thermo library if requested
  arc/plotter.py
  arc/species/species.py
Labels: Module: Plotter, Module: Species

#592 Atom mapping 2
  .github/labeler.yml
  arc/checks/ts.py
  arc/common.py
  arc/common_test.py
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/heuristics_test.py
  arc/mapping/driver.py
  arc/mapping/driver_test.py
  arc/mapping/engine.py
  arc/mapping/engine_test.py
  arc/reaction.py
  arc/reaction_test.py
  arc/species/species_test.py
Labels: Module: Species, Module: Reaction, Module: TS guess methods, Module: Mapping

#619 Changed if isinstance(level_of_theory, Level)
  arc/scheduler.py
Labels: Module: Scheduler

#620 Make sure `level_of_theory` is a `Level` instance if applicable
  arc/main.py
Labels: Module: Main

#621 A few patches to the restart
  arc/scheduler.py
Labels: Module: Scheduler

#615 Capture `ConverterError`s in molecules_from_xyz()
  arc/species/converter.py
Labels: Module: Converter

#628 Extracted sorting indices and sort the plot by them
  arc/plotter.py
Labels: Module: Plotter

#627 Added another phrase for Gaussian trsh
  arc/job/trsh.py
Labels: Module: trsh
