Repository ReactionMechanismGenerator/ARC, pull requests merged in 2023-10, with the labels that each got.

#690 Improved TS energy checks
  arc/checks/ts.py
  arc/checks/ts_test.py
  arc/reaction.py
  arc/scheduler.py
  arc/scheduler_test.py
  arc/species/species.py
Labels: Module: Scheduler, Module: Species, Module: Reaction

#701 Fixed: allow mutiple scissions in the atom mapping process.
  arc/mapping/driver.py
  arc/mapping/engine.py
  arc/mapping/engine_test.py
  arc/reaction_test.py
Labels: Module: Mapping

#705 Don't report convergence for IRC species
  arc/main.py
  arc/scheduler.py
Labels: Module: Scheduler, Module: Main

#687 Scan l103
  arc/job/adapters/gaussian.py
  arc/scheduler.py
  arc/scheduler_test.py
  arc/testing/rotor_scans/l103_err.out
Labels: Module: Scheduler

#708 Report electronic energy in an output file
  arc/main.py
  arc/scheduler.py
  arc/scheduler_test.py
Labels: Module: Scheduler, Module: Main
