Repository ReactionMechanismGenerator/ARC, pull requests merged in 2024-08, with the labels that each got.

#760 Use output consistently throughout main
  arc/main.py
  arc/scheduler.py
Labels: Module: Scheduler, Module: Main

#759 Added Mockter - a dummy job adapter for testing and debug
  arc/job/adapter.py
  arc/job/adapters/__init__.py
  arc/job/adapters/mockter.py
  arc/job/adapters/mockter_test.py
  arc/job/adapters/molpro_test.py
  arc/main_test.py
  arc/parser.py
  arc/parser_test.py
  arc/settings/settings.py
  arc/testing/mockter.yml
Labels: Module: Parser

#758 Gaussian unconverge trsh
  arc/job/adapters/gaussian_test.py
  arc/job/trsh.py
  arc/job/trsh_test.py
  arc/testing/trsh/gaussian/inaccurate_quadrature.out
  arc/testing/trsh/gaussian/maxsteps.out
Labels: Module: trsh

#762 Added an example for using Mockter
  examples/mockter/input.yml
Labels: examples

#763 Avoid crushing when can't trsh scan
  arc/job/trsh.py
Labels: Module: trsh
