Repository ReactionMechanismGenerator/ARC, pull requests merged in 2024-02, with the labels that each got.

#726 Updating Dockerfile
  .github/workflows/cont_int.yml
  Dockerfile
  devtools/install_autotst.sh
  dockerfiles/alias_print.sh
  dockerfiles/entrywrapper.sh
Labels: Docker

#729 To rxn smiles
  arc/reaction.py
  arc/reaction_test.py
Labels: Module: Reaction

#719 Queue change - PBS
  arc/common.py
  arc/common_test.py
  arc/job/adapter.py
  arc/job/adapter_test.py
  arc/job/adapters/cfour.py
  arc/job/adapters/common.py
  arc/job/adapters/gaussian.py
  arc/job/adapters/molpro.py
  arc/job/adapters/obabel.py
  arc/job/adapters/orca.py
  arc/job/adapters/psi_4.py
  arc/job/adapters/qchem.py
  arc/job/adapters/terachem.py
  arc/job/adapters/torch_ani.py
  arc/job/adapters/ts/autotst_ts.py
  arc/job/adapters/ts/gcn_ts.py
  arc/job/adapters/ts/heuristics.py
  arc/job/adapters/ts/kinbot_ts.py
  arc/job/adapters/ts/xtb_gsm.py
  arc/job/adapters/xtb_adapter.py
  arc/job/factory.py
  arc/job/local.py
  arc/job/trsh.py
  arc/job/trsh_test.py
  arc/scheduler.py
  arc/settings/settings.py
  arc/settings/submit.py
  arc/settings/submit_test.py
  arc/testing/test_JobAdapter_ServerTimeLimit/calcs/Species/spc1/spc1/err.txt
  arc/testing/test_JobAdapter_ServerTimeLimit/calcs/Species/spc1/spc1/input.gjf
  arc/testing/test_JobAdapter_ServerTimeLimit/calcs/Species/spc1/spc1/submit.sub
Labels: Module: Scheduler, Module: Local, Module: trsh, Module: Mapping
