Repository ReactionMechanismGenerator/ARC, pull requests merged in 2024-07, with the labels that each got.

#751 Reduce clutter in restart dict
  arc/main.py
  arc/main_test.py
  arc/reaction.py
  arc/reaction_test.py
  arc/scheduler.py
  arc/species/species.py
  arc/species/species_test.py
Labels: Module: Scheduler, Module: Species, Module: Reaction, Module: Main

#749 Don't run freq for IRC species
  arc/scheduler.py
Labels: Module: Scheduler

#752 Don't consider atoms in a ring as distinct groups for symmetry
  arc/species/conformers.py
Labels: Module: Conformers

#756 O2 perception
  arc/species/converter.py
  arc/species/converter_test.py
Labels: Module: Converter

#757 Conf sampling
  arc/species/conformers.py
Labels: Module: Species, Module: Conformers

#750 Added assign_frequency_scale_factor() to Level
  arc/common.py
  arc/level.py
  arc/level_test.py
  arc/main.py
  arc/main_test.py
  arc/testing/reactions/methanoate_hydrolysis/input_1.yml
  arc/testing/reactions/methanoate_hydrolysis/input_2.yml
  arc/utils/scale.py
  arc/utils/scale_test.py
  data/freq_scale_factors.yml
Labels: Module: Main
