Repository ReactionMechanismGenerator/ARC, pull requests merged in 2024-09, with the labels that each got.

#765 Optimize conformer comparison algorithm
  arc/species/conformers.py
  arc/species/converter.py
Labels: Module: Conformers, Module: Converter

#764 Gaussian Troubleshooting Cleanup
  arc/job/adapters/gaussian.py
  arc/job/adapters/gaussian_test.py
  arc/job/trsh.py
  arc/job/trsh_test.py
  arc/scheduler.py
  arc/testing/trsh/gaussian/l123_deltax.out
Labels: Module: Scheduler, Module: trsh

#743 Report energy in `conformers_before_optimization.txt`
  arc/common.py
  arc/plotter.py
  arc/plotter_test.py
  arc/scheduler.py
  arc/scheduler_test.py
  arc/species/species.py
  arc/species/species_test.py
Labels: Module: Scheduler, Module: Plotter, Module: Species
